.vscode
/build/
/source/libs/libsf2d/lib/
/source/libs/libsf2d/build/
/source/libs/libsftd/lib/
/source/libs/libsftd/build/
/source/libs/libsfil/lib/
/source/libs/libsfil/build/
/game/
*.3dsx
*.smdh
*.cia
*.elf
*.3ds
*.bin