build
distribute
.vscodecounter
logs
settings.json
distribute

launch.json

*.log
*.love
test
*.code-workspace
*.txt
*.py

*.exe

*.elf

*.3dsx
*.smdh
*.t3x

*.nro
*.nso
*.nacp
*.pfs0
*.dksh

*.rpx
*.wuhb
*.gsh

*.zip
