@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

html 
{ 
	margin: 0px; 
	padding: 0px;
	font-family: Quicksand, Helvetica, Arial, sans-serif !important;
}

#rando
{
	z-index: -2;
}

body
{
	color: #1c4e68;
	background-color: #e0f4fc;
}

p
{
	font-size: 16pt;
	text-indent: 20px;
}

.bar
{
	text-align: center;
	background: #b1e3fa;
	font-size: 16pt;
	width: 100%;
	position: fixed;
	height: 48px;
	line-height: 48px;
	z-index:50;
}

.bar a
{
	text-decoration: none;
	padding-right: 8px;
	margin: 0 auto;
	transition-duration: 0.3s;
	color: #1c4e68;
	outline-width: 0px;
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	border-color: #1c4e68;
}

#top
{
	left: 0;
	top: 0;
}

#bottom
{
	left: 0;
	bottom: 0;
}

#bottom a
{
	padding-right: 16px;
	padding-left: 16px;
	border-right: none;
}

.icon
{
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 0 auto;
	margin-bottom: 0 auto;
	width: 16px;
	height: 16px;
}

/* Other stuff */

a,.ds
{ 
	text-decoration: none; 
	color: #1c4e68;
	font-weight: 400;
	transition-duration: 0.2s;
}

a:hover,a:focus
{ 
	text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
}
.ds:hover
{
	box-shadow:0px 0px 4px rgba(255, 255, 255, 0.5);
}

.wrapper
{
	position: absolute;
	
	width: 75%;

	min-width: 65%;
	max-width: calc(100% - 45%);

	margin-top: 0px;
	margin-bottom: 0px;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#socialwrapper
{
	width: 100%;
	display: inline-block;
}

.head
{
	font-weight: 600;
	font-size: 48pt;
	text-align: center;
}

.status
{
	font-weight: 300;
	font-size: 18pt;
	text-align: center;
	margin-top: 10px;
}

.metacontainer
{
	width: 800px;
	margin:0 auto;
	text-align: center;
	position: relative;
}

.aboutcontainer
{
	font-weight: 300;
	text-align: justify;
	position: relative;

	left: 50%;
	transform: translateX(-50%);

	max-width: 70%;
}

/* Social page */
.mediacontainer
{
	text-align: center;
}

.socialmedia
{
	display: inline-block;

	text-align: center;
	vertical-align: middle;

	border: none;
}

/* Game page */
#wrapper-game
{
	position: absolute;
	width: 100%;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#game-wrap
{
	margin-top: 3%;
	position: relative;
	width: 80%;

	left: 50%;
	transform: translateX(-50%)
}

.game
{
	position: relative;

	width: 256px;
	height: 256px;
	box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.5);
	margin-left: 32px;
	margin-top: 32px;

	display: inline-block;
}

.title
{
	position: relative;

	font-weight: 400;
	font-size: 18pt;
	
	top: 10%;
	left: 50%;
	transform: translateX(-50%);

	float: left;

	text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.description
{
	position: relative;

	font-size: 14pt;

	text-align: center;
	
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);

	max-width: 85%;
	
	float: left;
}

.downloads
{
	position: absolute;
	float: left;
	
	left: 50%;

	transform: translateX(-50%);

	text-align: center;
	width: 100%;
	height: 32px;

	bottom: 24px;
}

.downloads > a
{
	width: 32px;
	height: 32px;	
}

h3
{
	font-size: 18pt;
}